body {
    font-family: Arial, sans-serif;
    margin-top: 20px;
    padding: 0;
}

.horizontal-nav {
    background-color: #b3adad;
    overflow: hidden;
    margin-left: 50px;
    display: inline-block;
    border: 1px solid black;
}

.horizontal-nav a {
    display:inline-block;
    color: rgb(11, 30, 232);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal-nav a:hover {
    background-color: #6c6969;
    color: black;
}

.vertical-nav {
    width: 200px;
    position: fixed;
    top: 100px; /* Position below the horizontal nav */
    left: 0;
    background-color: #6dcded;
    border: 1px solid black;
    margin-left: 20px;
}

.vertical-nav a {
    display: block;
    color: rgb(10, 25, 237);
    padding: 12px;
    text-decoration: none;
}

.vertical-nav a:hover {
    background-color: rgb(231, 181, 15);
    color: black;
}

.content {
    margin-left: 220px; /* Adjust to match the width of the vertical nav */
    padding: 20px;
    padding-top: 100px; /* Adjust to match the height of the horizontal nav */
}

h1 {
    margin-top: 0;
}
